

/* body {
  font-family: verdana;
  margin-top: 700px;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
} */

form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 1rem;
}

nav {
  display: flex;
  justify-content: space-around;
}

.dashboard {
  display: flex;
  justify-content: end;
}

/* #chats {
  display: flex;
  justify-content: space-around;
}

#chat {
  border: 1px solid black;
  padding: 5px;
  width: 325px;
} */

/* .mine {
  text-align: right;
}

.mine,
.yours {
  border: 1px solid black;
}

.chat {
  list-style: none;
  padding-left: 0;
}

.fromLabel {
  font-weight: bold;
}

.online {
  background-color: lightGreen;
} */

.recipe-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

#instafeed-container img {
  width: 18em;
  height: 550px !important;
  width: 450px !important;
  margin-right: 40px;
  
}


#instafeed-container img:hover{
opacity: 0.8;
-moz-opacity:0.8;
-webkit-opacity:0.8
}

.mealPlannerCalendar {
  display: flex;
  justify-content: space-evenly;
}

.mealsOfTheDay {
  display: flex;
  flex-direction: column;
}



