body {
  font-family: verdana;
}

form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 1rem;
}

nav {
  display: flex;
  justify-content: space-around;
}

.dashboard {
  display: flex;
  justify-content: end;
}

.recipe-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
