

body {
  font-family: verdana;
  margin-top: 700px;
  
}

form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 1rem;
}

nav {
  display: flex;
  justify-content: space-around;
}

.dashboard {
  display: flex;
  justify-content: end;
}

/* #chats {
  display: flex;
  justify-content: space-around;
}

#chat {
  border: 1px solid black;
  padding: 5px;
  width: 325px;
} */

/* .mine {
  text-align: right;
}

.mine,
.yours {
  border: 1px solid black;
}

.chat {
  list-style: none;
  padding-left: 0;
}

.fromLabel {
  font-weight: bold;
}

.online {
  background-color: lightGreen;
} */

.recipe-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

#instafeed-container img {
  width: 18em;
  border-style: solid;
  border-color: white;
  border-bottom: 10px;
  height: 550px !important;
  width: 450px !important;
}

.mealPlannerCalendar {
  display: flex;
  justify-content: space-evenly;
}

.mealsOfTheDay {
  display: flex;
  flex-direction: column;
}


  /* #ig-images{
    height: 500px !important;
    width: 400px !important;
} */


